<div class="container-fluid margin-top-15">
	<div class="row">
		<div class="col-md-12">
		<ol class="breadcrumb f14">
  			<li><a href="#">图书列表</a></li>
  			<li class="active">图书详情</li>
		</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img class="ztys-book-img" src="images/huangjinshidai-wangxiaobo.jpg">
		</div>
		<div class="col-md-9">
			<form class="form-horizontal f12">
				<div class="form-group">
					<label class="col-sm-3 control-label">书名</label>
					<div class="col-sm-6">
						<input type="text" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">作者</label>
					<div class="col-sm-3">
						<input type="text" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">类别</label>
					<div class="col-sm-3">
						<select class="form-control input-sm">
							<option>文学</option>
							<option>少儿</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">ISBN</label>
					<div class="col-sm-3">
						<input type="text" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">标签</label>
					<div class="col-sm-6">
						<input type="text" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">出版社</label>
					<div class="col-sm-3">
						<input type="text" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">收藏日期</label>
					<div class="col-sm-3">
						<input type="date" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">位置</label>
					<div class="col-sm-3">
						<select class="form-control input-sm">
							<option>A1</option>
							<option>A2</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">状态</label>
					<div class="col-sm-6 padding-top-5">
						<label>
		  					<input type="radio" name="bookStatus" value="2"> 已读
						</label>
						<label class="margin-left-15">
		  					<input type="radio" name="bookStatus" value="1"> 正在读
						</label>
						<label class="margin-left-15">
		  					<input type="radio" name="bookStatus" value="0" checked> 未读
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">评价</label>
					<div class="col-sm-3">
						<input type="range" class="form-control input-sm" min="0" max="5" step="1" ng-model="appraise">
					</div>
					<p class="help-block">{{ appraise }}</p>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">封面</label>
					<div class="col-sm-3">
						<input type="file" class="form-control input-sm">
					</div>
					<p class="help-block">400x600</p>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">备注</label>
					<div class="col-sm-6">
						<textarea class="form-control input-sm" rows="4"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="button" class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span> 保存
						</button>
						<button type="button" class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>