<div class="container-fluid margin-top-15">
    <div class="row">
        <div class="col-sm-6 padding-right-0">
            <table class="table margin-bottom-5">
                <caption>图书类别</caption>
                <thead>
                    <tr>
                        <td>显示值</td>
                        <td>实际值</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="文学"></td>
                        <td><input type="number" class="form-control input-sm" value="1"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="少儿"></td>
                        <td><input type="number" class="form-control input-sm" value="2"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="文学"></td>
                        <td><input type="number" class="form-control input-sm" value="3"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="少儿"></td>
                        <td><input type="number" class="form-control input-sm" value="4"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="文学"></td>
                        <td><input type="number" class="form-control input-sm" value="5"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="少儿"></td>
                        <td><input type="number" class="form-control input-sm" value="6"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="文学"></td>
                        <td><input type="number" class="form-control input-sm" value="7"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="少儿"></td>
                        <td><input type="number" class="form-control input-sm" value="8"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="文学"></td>
                        <td><input type="number" class="form-control input-sm" value="9"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="少儿"></td>
                        <td><input type="number" class="form-control input-sm" value="10"></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success btn-sm pull-right">
                <span class="glyphicon glyphicon-save"></span> 保存
            </button>
            <button type="button" class="btn btn-primary btn-sm pull-right margin-right-10">
                <span class="glyphicon glyphicon-plus"></span> 新增
            </button>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <caption>书架位置</caption>
                <thead>
                    <tr>
                        <td>显示值</td>
                        <td>实际值</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="星际穿越"></td>
                        <td><input type="number" class="form-control input-sm" value="1"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="三体世界"></td>
                        <td><input type="number" class="form-control input-sm" value="2"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="古文观止"></td>
                        <td><input type="number" class="form-control input-sm" value="3"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control input-sm" value="计算机世界"></td>
                        <td><input type="number" class="form-control input-sm" value="4"></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success btn-sm pull-right">
                <span class="glyphicon glyphicon-save"></span> 保存
            </button>
            <button type="button" class="btn btn-primary btn-sm pull-right margin-right-10">
                <span class="glyphicon glyphicon-plus"></span> 新增
            </button>
        </div>
    </div>
</div>