/* app css stylesheet */

/*------ Navigation ------*/
.ztys-navbar { font-size: 0.875em;}
.ztys-system-title { 
    float: right; 
    color: #ddd; 
    font-weight: bold; 
    text-shadow: -1px -1px 2px #000;  
    padding-top: 3px; 
    padding-left: 10px; 
    font-size: 0.875em;
}
.ztys-logo-wrapper { width: 24px; height: 24px; }
.ztys-logo-wrapper img { max-width: 100%; }

/*----- Common -----*/
caption { background-color: #eee; padding-left: 10px; border-radius: 2px; }
.ztys-star { color: #ff6600; }
.ztys-star-grey { color: #bbb; }
.ztys-appraise { font-size: 16px; }
.badge { background-color: #eee; color: #808080; }

/*------ List ------*/
.sidebar {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}
.ztys-filter a { padding: 4px 10px; cursor: pointer;}

/*------ New ------*/
.ztys-form { 
    background-color: #f5f5f5; 
    padding-top: 15px; 
    padding-bottom: 1px; 
    font-size: 0.75em; 
    border-radius: 4px; 
}

/*------ Detail ------*/
.ztys-book-img { border: 1px solid #ddd; padding: 10px; }

/*------ Search ------*/
.ztys-search-result { 
    color: #5cb85c;
    font-size: 0.75em; 
    line-height: 2.5em;
    background-color: #f5f5f5; 
    border-bottom: 1px solid #ddd; 
    margin-left: 15px;
    margin-right: 15px;
}